*.iml
.gradle
/.idea/gradle.xml
/.idea/
/app/src/main/res/values/secret_key.xml
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
